$CANVAS_WIDTH  : 480px;
$CANVAS_HEIGHT : 480px;

#display {
  display: block;
  width:  $CANVAS_WIDTH;
  height: $CANVAS_HEIGHT;
}

#video {
  display: none;
}

select {
  display: block;
  font-size: 1.5em;
  width: $CANVAS_WIDTH;
}
